body {
    margin: 0;
    background: #fef6e4;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: monospace;
    text-align: center;
    font-size: 2.2rem;
    text-transform: none;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #4b3f2f;
    font-weight: 600;
}

section {
    padding: 24px;
}